@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');


* { 
    padding: 0px;
    margin: 0px;
    font-family: love light;
}

body , html {
    background-color: rgb(136, 2, 2);
}

h1 {
    font-size:3.5em;
    text-align: center;
    padding-bottom: 120px;
    padding-top: 30px;
}

a {
    display: block;
    margin: auto;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 3.5em;
    color: rgb(0, 0, 0);
    width: 250px;
    border-radius: 20px 20px 20px ;
}